<div class="w-screen h-screen flex justify-center items-center">
  <div class="shadow w-[1000px] h-[600px] rounded-lg p-0.5 justify-between flex">
    <div style="background-image: url(./assets/bank.jpg); " class="w-[500px] flex flex-col h-full rounded-l-[12px] bg-no-repeat bg-cover ">
      <div style="background-color: rgba(0, 0, 0, 0.553);" class="text-white h-full w-full rounded-l-[12px]">
        <h1 class="text-[54px] font-extrabold mt-36 ml-10">Welcome <br></h1>
        <h1 class="text-[28px] uppercase font-bold ml-10">to CBC</h1>
      </div>
    </div>
    <div class="bg-white flex h-full w-[550px] flex-col px-24 justify-center">
      <h1 class="flex w-full justify-center font-bold text-[24px] text-blue-950 uppercase">Sign up</h1>
      <form #myForm="ngForm" (ngSubmit)="signup(myForm.value)">
        <label for="username" class="text-[16px]  ml-1 mt-5">Name</label>
        <div class="flex rounded-[15px] bg-[#f2f2f28d]">
          <input type="text" name="customerName" ngModel class="p-2 m-0.5 rounded-[13px] w-full" required>
        </div>
        <label for="username" class="text-[16px]  ml-1 mt-5" >Mobile Number</label>
        <div class="flex rounded-[15px] bg-[#f2f2f28d]">
          <input type="number" name="customerNumber" ngModel class="p-2 m-0.5 rounded-[13px] w-full" required >
        </div>
        <label for="username" class="text-[16px]  ml-1 mt-5">Username</label>
        <div class="flex rounded-[15px] bg-[#f2f2f28d]">
          <input type="text" name="customerUsername" ngModel class="p-2 m-0.5 rounded-[13px] w-full" required>
        </div>
        <label for="username" class="text-[16px]  ml-1 mt-3">Password</label>
        <div class="flex rounded-[15px] bg-[#f2f2f28d]">
          <input type="password" name="customerPassword" ngModel class="p-2 m-0.5 rounded-[13px] w-full" required>
        </div>
        <div class="flex w-full justify-center items-center bg-black rounded-[15px] text-white py-3 mt-4 hover:bg-white hover:ring-1 hover:ring-black hover:text-black transition-all ">
          <input type="submit" value="Sign up" class="w-full h-full  cursor-pointer"/>

        </div>
        <div class="text-[13px] mt-3 flex justify-center">
          Already have an Account ?  &nbsp; <a routerLink="/login" class="hover:text-blue-700 transition-all">Sign in</a>
        </div>
    </form>
    </div>
    
    
  </div>
</div>
